$colorWhite: #ffffff;
$colorBlack: #18171f;
$inputBlack: #1e1c24;
$borderColor: #36343e;
$colorPrimary: #02122ded;
$colorBlue: #1976d2;
$text-color: #a1a0a5;

// @mixin btn($backgroundColor, $color, $fontsize) {
//   background: $backgroundColor;
//   color: $color;
//   width: 150px;
//   height: 35px;
//   font-size: $fontsize;
//   transition: color 350ms ease-in-out;
//   outline: none;
//   border: 3px solid $colorWhite;
//   text-transform: uppercase;
//   border-radius: 50px;
//   font-weight: 600;
//   fontfamily: arial;
//   cursor: pointer;
//   &:hover {
//     color: $backgroundColor;
//     background: $color;
//   }
// }
