@import "../../styles/global/global.scss";

.col1 {
  background-color: pink;
  position: fixed;
  left: 0;
  top: 70px;
}

.col2 {
  background-color: silver;
  margin-left: 50%;
  overflow: auto;
}
