.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  max-width: 900px;
  margin: auto;

  .sign-in-container {
    padding: 10px 30px;

    .logo {
      width: 100px;
      height: 100px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .or-sign-with-email {
      position: relative;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 15px 0;
      p {
        background-color: #fff;
        padding: 1px 10px;
        margin: 0;
        display: inline;
        color: rgb(108, 108, 108);
        z-index: 10;
        font-size: 14px;
        font-weight: 400;
      }
      .border {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1.5px;
        opacity: 0.3;
        background: rgb(108, 108, 108);
        z-index: -1;
      }
    }
  }

  @media screen and (max-width: 300px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
