@import "../../styles/global/global.scss";

.nav-bar {
  background: $colorBlack;
  padding: 10px 40px;
  color: $colorWhite;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 100;
  overflow: hidden;
  border-bottom: 2px solid $borderColor;

  .logo {
    width: 45px;
    height: 45px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .active {
    color: $text-color;
    &::before {
      position: absolute;
      bottom: -21px;
      right: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: "";
      background: $text-color;
    }
  }
  .menu {
    display: none;
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .icon-button {
      padding: 0 !important;
    }
  }
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    .menu {
      display: block;
    }
    .nav-links {
      display: none;
    }
    .nav-right {
      display: none;
    }
  }
}
