@import "../../styles/global/global.scss";
.navbar-links-container {
  .nav-links {
    display: flex;
    align-items: center;

    .nav-link {
      margin-right: 20px;
      margin-left: 20px;
      font-size: 15px;
      display: flex;
      align-items: center;
      .link {
        color: $text-color;
        position: relative;
        transition: all 0.4s ease-in-out;

        &::before {
          content: "";
          width: 100%;
          background-color: white;
          height: 2px;
          position: absolute;
          bottom: -20px;
          transform-origin: top;
          transform: scale(0);
          transition: all 0.4s ease-in-out;
          border-radius: 5px;
        }
      }
      .active {
        color: black;
      }
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
    .nav-links {
      flex-direction: column;
      align-items: flex-start;

      .nav-link {
        display: flex;
        width: 100%;
        overflow: hidden;
        align-items: center;
        height: 40px;
        padding: 0px 20px;
        margin: 0;
      }
    }
  }
}
